# get rid of mac folder info files
#
.DS_Store

# get rid of backups on ubuntu, often suffixed by tilde ~
#
*~
# get rid of .aux, .log files of latex builds
#
*.aux
*.log
*.out 
*.toc
*.backup
# ignore compiled python modules
#
*.pyc

# ignore .orig files from indentation
# using astyle
*.orig

Code Maarten/LCA/bin
Code Maarten/LCA/lib
Code Maarten/LCA/doc

Code Maarten/LCA/data
Code Maarten/LCA/results/test_wim
Code Maarten/LCA/results/dens*
